body {
  margin: 0rem 0.85rem 0rem 0.85rem;
}
.nav-bar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.heading {
  padding-left: 0.65rem;
  color: red;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  margin: 0.35rem;
}
.nav-right {
  display: flex;
  color: black;
  margin-right: 0.69rem;
}
