body {
  background-color: rgb(129, 129, 226);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sk {
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 25px;
  color: rgb(122, 122, 164);
}
.div-1 {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.btn {
  padding: 1rem 2rem 1rem 2rem;
  font-size: larger;
  align-items: center;
}
.btn:hover {
  color: rgb(136, 136, 233);
}
